<div class="login min-width">
    <div class="login__img"></div><!-- Imagen -->
    
    <form class="login__form">
        <h1>FaluhStore</h1>

        <p class="login__form-welcome">¡Bienvenido!</p>

        <div class="login__input">
            <div class="login__input-icon">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </div>
            
            <input type="email" name="" class="none" placeholder="Correo Electrónico">
        </div><!--- Correo Electrónico -->

        <div class="login__input">
            <div class="login__input-icon">
                <fa-icon [icon]="faLock"></fa-icon>
            </div>

            <input type="password" name="" class="none" placeholder="Contraseña">
        </div><!-- Contraseña -->

        <div class="login__extras">
            <label for="toRemember">
                <input type="checkbox" name="" class="hidden" id="toRemember">
                <div class="login__remember">
                    <fa-icon class="login__remember-icon" [icon]="faCheck"></fa-icon>
                </div>
                Recordar cuenta
            </label><!-- Recordar cuenta -->

            <a href="#" class="login__forgot">
                ¿Olvidaste tu contraseña?
            </a><!-- Olvidar contraseña -->
        </div><!-- Extras -->

        <div class="login__submit">
            <input type="submit" class="none" value="Iniciar Sesión">
        </div><!-- Iniciar sesión -->

        <div class="login__register">
            <p>¿No tienes cuenta?</p>
            <a href="">Regístrate</a>
        </div><!-- Registrate -->

        <div class="login__or">
            <div class="login__or-line"></div>
            <p>o</p>
            <div class="login__or-line"></div>
        </div>

        <div class="login__social">
            <a href="" class="login__social-google">
                <fa-icon class="login__social-icon" [icon]="faGooglePlus"></fa-icon>
                <p>Inicia sesión con Google</p>
            </a>
        </div><!-- Cuenta Google -->
    </form><!-- Formulario -->
</div><!-- Login -->
