<div class="contact">
    <div class="contact__place">
        <h2>¡Ubícanos!</h2>

        <div class="contact__place-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.9755054860184!2d-77.04605114907788!3d-12.045206245110453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8cd9154950b%3A0x133c271ae03f1a46!2sAv.%20Guillermo%20Dansey%20369%2C%20Cercado%20de%20Lima%2015082!5e0!3m2!1ses-419!2spe!4v1656315553097!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- Mapa -->
    </div><!-- Lugar -->

    <div class="contact__send">
        <div class="contact__send-content">
            <div class="send__content-information">
                <h2>¡Contáctanos!</h2>

                <div class="content__information-name">
                    <label for="">Nombre</label>
                    <input type="text" name="" id="" placeholder="Nombre">
                </div>

                <div class="content__information-email">
                    <label for="">Email</label>
                    <input type="email" name="" id="" placeholder="Email">
                </div>

                <div class="content__information-message">
                    <label for="">Mensaje</label>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                </div>

                <input type="submit" class="none" value="Enviar">
            </div><!-- Información -->

            <div class="send__content-img">
                <img src="../../../assets/img/contact.jpg" alt="Imagen de Contacto">
            </div><!-- Imagen -->
        </div><!-- Contenedor del mensaje  -->
    </div><!-- Enviar mensaje -->
</div><!-- Contacto -->
