
// Cabecera
.header {
    position: relative;
    background-color: var(--colorPrincipal);
    display: flex;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    // Header TOP and BOTTOM
    .header__top,
    .header__bottom {
        text-align: center;
        width: 100%;
    }

    /* Nav de categorias */
    .header__nav-categories {
        position: absolute;
        top: 100%;
        transition: 1s ease;
    }

    /* Global */
    .activeCategorie {
        background-color: var(--colorContenido) !important;
        color: var(--colorPrincipal) !important;
    }
}

// Header TOP
.header__top {
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
    }

    // Logo 
    .header__logo {
        padding: 1rem 0;
        color: var(--colorContenido);
        font-family: var(--fuenteLogo);
        @media (min-width: 768px) {
            padding: 0;
        }
    }

    // Dark Mode
    .header__dark-mode {
        display: none;
        visibility: hidden;

        @media (min-width: 900px) {
            display: inline-block;
            visibility: visible;
            color: var(--colorContenido);
            padding: 1rem;
            margin: 0 2rem;
            margin-left: 3rem;
            border: 1px solid var(--colorGrisClaro);
            border-radius: 0.5rem;
            cursor: pointer;
            transition: 0.5s ease;

            &:hover {
                background-color: var(--colorContenido);
                color: var(--colorPrincipal);
                transition: 0.5s ease;
            }
        }
    }

    // Buscador
    .header__search {
        position: relative;
        padding: 0 1rem;
        flex-basis: 40%;

        // Buscador - Icono
        .header__icon-search {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;

            display: flex;
            align-items: center;

            color: var(--colorContenido);
            margin-right: 1rem;
            padding: 1rem;
            border-radius: 0 0.5rem 0.5rem 0;

            cursor: pointer;
            transition: 1s ease;

            &:hover {
                background-color: var(--colorContenido);
                color: var(--colorPrincipal);
                transition: 1s ease;
            }
        }

        // Buscador - Input
        input {
            width: 100%;
            padding: 1rem;
            border-radius: 0.5rem;
            border: 1px solid var(--colorGrisClaro);
            color: --colorGrisOscuro;

            &::placeholder {
                color: --colorGrisOscuro;
            }
        }
    }

    // Opciones
    .header__options {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: var(--colorContenido);
        border-top: 1px solid var(--colorGrisClaro);

        @media (min-width: 768px) {
            margin-top: 0;
            border: none;
        }

        // Opciones - Categorias, Carrito y Login
        .header__categories,
        .header__cart,
        .header__login {
            padding: 1rem;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            transition: 0.5s ease;

            &:hover {
                background-color: var(--colorContenido);
                color: var(--colorPrincipal);
                transition: 0.5s ease;
            }

            // Parrafo
            p {
                margin-top: 0.5rem;
            }
        }
    }
}

// Opciones
.header__options {
    // Carrito
    .header__cart {
        border-left: 1px solid var(--colorGrisClaro);
        border-right: 1px solid var(--colorGrisClaro);
        
        // Carrito - Icono
        .header__icon-cart {
            position: relative;

            // Parrafo
            p {
                display: inline-block;

                position: absolute;
                top: -2.2rem;
                right: -1.6rem;

                color: var(--colorPrincipal);
                background-color: var(--colorContenido);
                border-radius: 50%;
                transform: scale(0.8);
        
                width: 2.4rem;
                height: 2.4rem;
                line-height: 2.2rem;

                transition: 0.5s ease;
            }
        }

        &:hover {
            .header__icon-cart { 
                p {
                    background-color: var(--colorPrincipal);
                    color: var(--colorContenido);
                    transition: 0.5s ease;
                }
            }
        }
    }
}

// Header BOTTOM
.header__bottom {
    border-top: 1px solid var(--colorGrisClaro);
    border-bottom: 1px solid var(--colorGrisClaro);
    position: relative;

    // Cabecera mobile
    .header__mobile {
        display: inline-block;
        width: 100%;
        color: var(--colorContenido);
        padding: 1rem;
        cursor: pointer;
        transition: 1s ease;

        @media (min-width: 768px) {
            display: none;
            visibility: hidden;
        }
        
        &:hover {
            background-color: var(--colorContenido);
            color: var(--colorPrincipal);
            transition: 1s ease;
        }
    }

    // Navegación
    .header__nav {
        position: absolute;
        top: 100%;
        transition: 1s ease;

        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            position: relative;
            left: 0;
            top: 0;

            flex-direction: row;
        }

        // Enlaces
        a {
            padding: 1rem 0;
            color: var(--colorPrincipal);
            background-color: rgba(247, 127, 0, 0.7);
            transition: 0.5s ease;

            @media (min-width: 768px) {
                flex: 1;

                background-color: var(--colorPrincipal);
                color: var(--colorContenido);
                border: none;

                transition: 0.5s ease;
            }
        
            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: rgba(247, 127, 0, 0.9);
                transition: 0.5s ease;

                @media (min-width: 768px) {
                    background-color: var(--colorContenido);
                    color: var(--colorPrincipal);
                }
            }
        }
    }
}
