<header class="header min-width">
    <div class="header__top">
        <div class="header__logo">
            <h1>FaluhStore</h1>
        </div><!-- Logo -->
    
        <div class="header__search">
            <div class="header__icon-search">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </div><!-- Buscador - Icono -->

            <input class="none" type="text" placeholder="Buscar" name="" id="">
        </div><!-- Buscador -->
    
        <div class="header__options">
            <div class="header__categories" (click)="activeCategories()">
                <div class="header__icon-category">
                    <fa-icon [icon]="faListUl"></fa-icon>
                </div>

                <p>Categorías</p>
            </div>
    
            <a class="header__cart">
                <div class="header__icon-cart">
                    <fa-icon [icon]="faCartShopping"></fa-icon>
                    <p>0</p>
                </div>
            </a>

            <a class="header__login">
                <div class="header__icon-login">
                    <fa-icon [icon]="faUser"></fa-icon>
                </div>
                
                <p>Iniciar Sesión</p>
            </a>
        </div><!-- Opciones -->
    </div>

    <div class="header__bottom">
        <div class="header__mobile" (click)="activeBar()">
            <fa-icon class="icon-bars" [icon]="faBars"></fa-icon>
            <!-- <fa-icon class="icon-close" [icon]="faXmark"></fa-icon> -->
        </div>

        <nav class="header__nav left-n100 right-p100">
            <a href="#">Todos los productos</a>
            <a href="#">Ofertas</a>
            <a href="#">Contáctanos</a>
        </nav>
    </div>

    <div class="header__nav-categories left-n100">
        <app-nav></app-nav>
    </div>
</header>
