<div class="home min-width">
    <swiper [pagination]="{ type: 'progressbar' }" [navigation]="true" class="mySwiper home__portada">
        <ng-template swiperSlide>
            <div class="home__video flex-center width-100 height-100">
                <video id="video" class="width-100 height-100" muted>
                    <source src="../../../assets/video/shoes.mp4" type="video/mp4">
                </video><!-- Video -->

                <div class="home__video-controls flex-center">
                    <div class="home__video-expand cursor transition">
                        <fa-icon [icon]="faExpand"></fa-icon>
                    </div><!-- Expand -->

                    <div class="home__video-play margin-2 cursor">
                        <fa-icon [icon]="faPlay"></fa-icon>
                    </div><!-- Play -->
    
                    <div class="home__video-volume cursor transition">
                        <fa-icon [icon]="faVolumeXmark"></fa-icon>
                    </div><!-- Volumen -->
                </div><!-- Controles -->
            </div><!-- Portada Video -->
        </ng-template>

        <ng-template class="content-img" swiperSlide>
            <img src="../../../assets/img/portada-1.png" alt="Portada 1">
        </ng-template>

        <ng-template class="content-img" swiperSlide>
            <img src="../../../assets/img/portada-2.png" alt="Portada 2">
        </ng-template>

        <ng-template class="content-img" swiperSlide>
            <img src="../../../assets/img/portada-3.png" alt="Portada 3">
        </ng-template>

        <ng-template class="content-img" swiperSlide>
            <img src="../../../assets/img/portada-4.png" alt="Portada 4">
        </ng-template>

        <ng-template class="content-img" swiperSlide>
            <img src="../../../assets/img/portada-5.png" alt="Portada 5">
        </ng-template>
    </swiper><!-- Slider - Portadas -->
    
    <div class="home__newProducts padding-2-v contenido">
        <h2 class="padding-1-v margin-1-h text-center">Nuevos Productos</h2>

        <swiper
            [slidesPerView]=perviewSlide()
            [spaceBetween]="43"
            [slidesPerGroup]="1"
            [loop]="true"
            [loopFillGroupWithBlank]="true"
            [navigation]="true"
            class="mySwiper new__products margin-2-v"
            [autoplay]="{ delay: 5000, disableOnInteraction: false }"
        >
            <ng-template swiperSlide>
                <div class="product__card transition padding-2">
                    <div class="product__img cursor padding-4-h">
                        <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>
                        
                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal ">S/. 50.00</p>
                            <!-- <p class="product__price-current">S/. 25.00</p> -->
                        </div>

                        <button type="button" class="none cursor transition padding-1m-v">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card transition padding-2">
                    <div class="product__img cursor padding-4-h">
                        <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>
                        
                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal ">S/. 50.00</p>
                            <!-- <p class="product__price-current">S/. 25.00</p> -->
                        </div>

                        <button type="button" class="none cursor transition padding-1m-v">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card transition padding-2">
                    <div class="product__img cursor padding-4-h">
                        <img src="../../../assets/img/sandalia.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>
                        
                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal ">S/. 50.00</p>
                            <!-- <p class="product__price-current">S/. 25.00</p> -->
                        </div>

                        <button type="button" class="none cursor transition padding-1m-v">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card transition padding-2">
                    <div class="product__img cursor padding-4-h">
                        <img src="../../../assets/img/zapatillas.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>
                        
                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal ">S/. 50.00</p>
                            <!-- <p class="product__price-current">S/. 25.00</p> -->
                        </div>

                        <button type="button" class="none cursor transition padding-1m-v">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card transition padding-2">
                    <div class="product__img cursor padding-4-h">
                        <img src="../../../assets/img/zapatillas.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>
                        
                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal ">S/. 50.00</p>
                            <!-- <p class="product__price-current">S/. 25.00</p> -->
                        </div>

                        <button type="button" class="none cursor transition padding-1m-v">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card transition padding-2">
                    <div class="product__img cursor padding-4-h">
                        <img src="../../../assets/img/zapatillas.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Converse</p>
                        
                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal ">S/. 50.00</p>
                            <!-- <p class="product__price-current">S/. 25.00</p> -->
                        </div>

                        <button type="button" class="none cursor transition padding-1m-v">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card transition padding-2">
                    <div class="product__img cursor padding-4-h">
                        <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Adidas</p>
                        
                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal ">S/. 150.00</p>
                            <!-- <p class="product__price-current">S/. 25.00</p> -->
                        </div>

                        <button type="button" class="none cursor transition padding-1m-v">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
        </swiper>
    </div><!-- Productos nuevos -->

    <div class="home__event text-center">
        <h2>Oferta de 30% de DSCTO</h2>

        <div class="home__event-description">
            <div class="home__event-end margin-2-v flex-center">
                <div class="login__or-line"></div>
                <p class="padding-1-h">Termina en</p>
                <div class="login__or-line"></div>
            </div><!-- Evento Texto -->

            <div class="home__event-counter">
                <div class="home__event-time padding-1-v">
                    <p class="padding-1-v">Días</p>
                    <p class="padding-1-v">365</p>
                </div>
                
                <div class="home__event-time padding-1-v">
                    <p class="padding-1-v">Horas</p>
                    <p class="padding-1-v">24</p>
                </div>
                
                <div class="home__event-time padding-1-v">
                    <p class="padding-1-v">Minutos</p>
                    <p class="padding-1-v">60</p>
                </div>
                
                <div class="home__event-time padding-1-v margin-0-b">
                    <p class="padding-1-v">Segundos</p>
                    <p class="padding-1-v">60</p>
                </div>
            </div><!-- Evento Contador -->
        </div><!-- Evento Descripción -->
    </div><!-- Eventos -->

    <div class="home__offers padding-2-v contenido">
        <h2 class="padding-1-v margin-1-h text-center">Ofertas</h2>
        
        <swiper
            [slidesPerView]="perviewSlide()"
            [spaceBetween]="43"
            [slidesPerGroup]="1"
            [loop]="true"
            [loopFillGroupWithBlank]="true"
            [navigation]="true"
            class="mySwiper offers_products margin-2-v"
            [autoplay]="{ delay: 6000, disableOnInteraction: false }"
        >
            <ng-template swiperSlide>
                <div class="product__card padding-2 transition">
                    <div class="product__img padding-4-h cursor">
                        <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>

                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal text-through">S/. 50.00</p>
                            <p class="product__price-current">S/. 25.00</p>
                        </div>

                        <button type="button" class="none padding-1m-v cursor transition">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card padding-2 transition">
                    <div class="product__img padding-4-h cursor">
                        <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>

                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal text-through">S/. 50.00</p>
                            <p class="product__price-current">S/. 25.00</p>
                        </div>

                        <button type="button" class="none padding-1m-v cursor transition">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card padding-2 transition">
                    <div class="product__img padding-4-h cursor">
                        <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>

                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal text-through">S/. 50.00</p>
                            <p class="product__price-current">S/. 25.00</p>
                        </div>

                        <button type="button" class="none padding-1m-v cursor transition">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card padding-2 transition">
                    <div class="product__img padding-4-h cursor">
                        <img src="../../../assets/img/zapatillas.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>

                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal text-through">S/. 50.00</p>
                            <p class="product__price-current">S/. 25.00</p>
                        </div>

                        <button type="button" class="none padding-1m-v cursor transition">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card padding-2 transition">
                    <div class="product__img padding-4-h cursor">
                        <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>

                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal text-through">S/. 50.00</p>
                            <p class="product__price-current">S/. 25.00</p>
                        </div>

                        <button type="button" class="none padding-1m-v cursor transition">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card padding-2 transition">
                    <div class="product__img padding-4-h cursor">
                        <img src="../../../assets/img/zapatillas.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>

                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal text-through">S/. 50.00</p>
                            <p class="product__price-current">S/. 25.00</p>
                        </div>

                        <button type="button" class="none padding-1m-v cursor transition">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
            <ng-template swiperSlide>
                <div class="product__card padding-2 transition">
                    <div class="product__img padding-4-h cursor">
                        <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                    </div><!-- Imagen del Producto -->

                    <div class="product__description padding-1-v">
                        <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                        <p class="product__description-brand margin-1-b">Bata</p>

                        <div class="product__description-price margin-2-b">
                            <p class="product__price-normal text-through">S/. 50.00</p>
                            <p class="product__price-current">S/. 25.00</p>
                        </div>

                        <button type="button" class="none padding-1m-v cursor transition">
                            <fa-icon [icon]="faCartShopping"></fa-icon>
                            Añadir al carrito
                        </button>
                    </div><!-- Información del Producto -->
                </div><!-- Tarjeta Producto -->
            </ng-template>
        </swiper>
    </div><!-- Ofertas -->

    <div class="home__sections contenido">
        <h2 class="padding-1-v margin-1-h text-center">Secciones</h2>

        <div class="home__section-categories margin-4-h">
            <div class="section__woman margin-2-t cursor">
                <img class="width-100 height-100" src="../../../assets/img/women-shoes.jpg" alt="Seccion Mujer">
            </div>
    
            <div class="section__men margin-2-t cursor">
                <img class="width-100 height-100" src="../../../assets/img/men-shoes.jpg" alt="Seccion Hombre">
            </div>
    
            <div class="section__child margin-2-t cursor">
                <img class="width-100 height-100" src="../../../assets/img/child-shoes.jpg" alt="Seccion Niño">
            </div>
    
            <div class="section__baby margin-2-t cursor">
                <img class="width-100 height-100" src="../../../assets/img/baby-shoes.jpg" alt="Seccion Bebes">
            </div>
        </div><!-- Categorias -->
    </div><!-- Secciones -->

    <div class="home__brands padding-2-v contenido">
        <h2 class="padding-1-v margin-1-h text-center">Nuestras Marcas</h2>

        <div class="content__brands flex-center margin-4-h margin-1-t">
            <img class="margin-5" src="../../../assets/img/bata.svg" alt="Marca de Bata">
            <img class="margin-5" src="../../../assets/img/platanitos.svg" alt="Marca de Platanitos">
            <img class="margin-5" src="../../../assets/img/viale.webp" alt="Marca de Viale">
            <img class="margin-5" src="../../../assets/img/calimod.png" alt="Marca de Calimod">
            <img class="margin-5" src="../../../assets/img/adidas.png" alt="Marca de Adidas">
            <img class="margin-5" src="../../../assets/img/nike.png" alt="Marca de Nike">
            <img class="margin-5" src="../../../assets/img/Converse.png" alt="Marca de Converse">
        </div><!-- Contenedor de las marcas -->
    </div><!-- Marcas -->

    <div class="home__benefits contenido">
        <h2 class="padding-1-v margin-1-h text-center">Beneficios</h2>

        <div class="content__benefits flex-center margin-4-h margin-1-t">
            <div class="margin-3 text-center margin-2-t">
                <img src="../../../assets/img/ofertas.png" alt="Imagen de Ofertas">
                <p class="margin-1m-t">Ofertas Exclusivas</p>
            </div>

            <div class="margin-3 text-center">
                <img src="../../../assets/img/calidad.png" alt="Imagen de Marca de Calidad">
                <p class="margin-1m-t">Marcas independientes de calidad</p>
            </div>

            <div class="margin-3 text-center">
                <img src="../../../assets/img/envios.png" alt="Imagen de Envios">
                <p class="margin-1m-t">Envíos a todo el país</p>
            </div>

            <div class="margin-3 text-center">
                <img src="../../../assets/img/cambios.png" alt="Imagen de Sin Costo">
                <p class="margin-1m-t">Cambios sin costos</p>
            </div>

            <div class="margin-3 text-center margin-5-b">
                <img src="../../../assets/img/variedad.png" alt="Imagen de Variedad">
                <p class="margin-1m-t">Amplia variedad de diseños</p>
            </div>
        </div><!-- Contenedor de Beneficios -->
    </div><!-- Beneficios -->
</div><!-- Inicio -->
