<div class="cart">
    <div class="cart__sections">
        <div class="cart__section">
            <div class="cart__section-number">
                <p>1</p>  
            </div>

            <div class="cart__section-text">
                <p>Confirmar pedido</p>
            </div>
        </div><!-- Confirmar pedido -->

        <div class="cart__section-line"></div>

        <div class="cart__section">
            <div class="cart__section-number">
                <p>2</p>  
            </div>
    
            <div class="cart__section-text">
                <p>Información personal</p>
            </div>
        </div><!-- Información personal -->

        <div class="cart__section-line"></div>

        <div class="cart__section">
            <div class="cart__section-number">
                <p>3</p>  
            </div>
    
            <div class="cart__section-text">
                <p>Envio</p>
            </div>
        </div><!-- Envío -->
    </div><!-- Secciones -->

    <div class="cart__content">
        <div class="cart__content-order">
            <div class="content__order-products">
                <div class="order__products-title">
                    <fa-icon [icon]="faCartShopping"></fa-icon>
                    <h2>Carrito (n)</h2>
                </div><!-- Titulo -->

                <div class="order__products-all">
                    <div class="order__products-card">
                        <div class="products__card-img">
                            <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                        </div><!-- Imagen - Producto -->

                        <div class="products__card-description">
                            <div class="products__card-left">
                                <p class="products__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                <p class="products__card-brand margin-1-b">Bata</p>
                                <p class="products__card-size">40</p>
                            </div>
                            
                            <div class="products__card-right">
                                <div class="products__card-price margin-2-b">
                                    <!-- <p class="card__price-current">S/. 25.00</p> -->
                                    <p class="card__price-normal ">S/. 50.00</p>
                                </div>

                                <div class="product__card-setUp">
                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faPencil"></fa-icon>
                                    </div>

                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Descripción - Producto -->
                    </div><!-- Producto -->

                    <div class="order__products-card">
                        <div class="products__card-img">
                            <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                        </div><!-- Imagen - Producto -->

                        <div class="products__card-description">
                            <div class="products__card-left">
                                <p class="products__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                <p class="products__card-brand margin-1-b">Bata</p>
                                <p class="products__card-size">40</p>
                            </div>
                            
                            <div class="products__card-right">
                                <div class="products__card-price margin-2-b">
                                    <!-- <p class="card__price-current">S/. 25.00</p> -->
                                    <p class="card__price-normal ">S/. 50.00</p>
                                </div>

                                <div class="product__card-setUp">
                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faPencil"></fa-icon>
                                    </div>

                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Descripción - Producto -->
                    </div><!-- Producto -->

                    <div class="order__products-card">
                        <div class="products__card-img">
                            <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                        </div><!-- Imagen - Producto -->

                        <div class="products__card-description">
                            <div class="products__card-left">
                                <p class="products__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                <p class="products__card-brand margin-1-b">Bata</p>
                                <p class="products__card-size">40</p>
                            </div>
                            
                            <div class="products__card-right">
                                <div class="products__card-price margin-2-b">
                                    <!-- <p class="card__price-current">S/. 25.00</p> -->
                                    <p class="card__price-normal ">S/. 50.00</p>
                                </div>

                                <div class="product__card-setUp">
                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faPencil"></fa-icon>
                                    </div>

                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Descripción - Producto -->
                    </div><!-- Producto -->

                    <div class="order__products-card">
                        <div class="products__card-img">
                            <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                        </div><!-- Imagen - Producto -->

                        <div class="products__card-description">
                            <div class="products__card-left">
                                <p class="products__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                <p class="products__card-brand margin-1-b">Bata</p>
                                <p class="products__card-size">40</p>
                            </div>
                            
                            <div class="products__card-right">
                                <div class="products__card-price margin-2-b">
                                    <!-- <p class="card__price-current">S/. 25.00</p> -->
                                    <p class="card__price-normal ">S/. 50.00</p>
                                </div>

                                <div class="product__card-setUp">
                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faPencil"></fa-icon>
                                    </div>

                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Descripción - Producto -->
                    </div><!-- Producto -->

                    <div class="order__products-card">
                        <div class="products__card-img">
                            <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                        </div><!-- Imagen - Producto -->

                        <div class="products__card-description">
                            <div class="products__card-left">
                                <p class="products__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                <p class="products__card-brand margin-1-b">Bata</p>
                                <p class="products__card-size">40</p>
                            </div>
                            
                            <div class="products__card-right">
                                <div class="products__card-price margin-2-b">
                                    <!-- <p class="card__price-current">S/. 25.00</p> -->
                                    <p class="card__price-normal ">S/. 50.00</p>
                                </div>

                                <div class="product__card-setUp">
                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faPencil"></fa-icon>
                                    </div>

                                    <div class="card__setUp-icon">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Descripción - Producto -->
                    </div><!-- Producto -->
                </div><!-- Todos los productos -->
            </div><!-- Productos -->

            <div class="content__order-amount">
                <div class="order__amount-cost">
                    <p>Costo de Compras</p>
                    <p>S/. 70.00</p>
                </div><!-- Costo de los productos -->

                <div class="order__amount-delivery">
                    <label for="">
                        <input type="checkbox" name="" id="">
                        <div class="amount__delivery-check">
                            <fa-icon class="amount__delivery-icon" [icon]="faCheck"></fa-icon>
                        </div>
    
                        <p>Pago por delivery</p>
                    </label>

                    <div class="amount__delivery-cost">
                        <p>Costo Delivery</p>
                        <p>S/. 30.00</p>
                    </div>
                </div>

                <div class="order__amount-total">
                    <p>Total</p>
                    <p>S/. 100.00</p>
                </div>

                <button type="button" class="none">
                    Comprar
                </button>
            </div><!-- Monto -->
        </div><!-- Confirmar pedido -->

        <div class="cart__content-information">
            <div class="card__content-title">
                <fa-icon [icon]="faList"></fa-icon>
                <h2>Información Personal</h2>
            </div><!-- Titulo -->

            <div class="card__content-names">
                <div class="content-names-name">
                    <label for="">
                        Nombres
                    </label>
    
                    <input type="text">
                </div><!-- Nombre -->
                
                <div class="content-names-surname">
                    <label for="">
                        Apellidos
                    </label>
    
                    <input type="text">
                </div><!-- Apellido -->
            </div><!-- Nombre y Apellido-->

            <div class="card__content-identify">
                <div class="content__identify-email">
                    <label for="">
                        Correo electrónico
                    </label>
    
                    <input type="email">
                </div><!-- Email -->

                <div class="content__identify-dni">
                    <label for="">
                        DNI
                    </label>
    
                    <input type="text">
                </div><!-- DNI -->
            </div><!-- Email y DNI -->
        
            <div class="card__content-direction">
                <label for="">
                    Dirección
                </label>

                <input type="text">
            </div><!-- Dirección -->

            <div class="card__content-phones">
                <div class="content__phones-1">
                    <label for="">
                        Teléfono
                    </label>
    
                    <input type="tel">
                </div><!-- Teléfono 1 -->

                <div class="content__phones-2">
                    <label for="">
                        <p class="phones__2-optional">Opcional</p>
                        <p>Teléfono 2</p>
                    </label>
    
                    <input type="tel">
                </div><!-- Teléfono 1 -->
            </div><!-- Teléfonos -->

            <div class="card__content-buttons">
                <button class="content__buttons-behind none" type="button">
                    Atras
                </button>

                <button class="content__buttons-next none" type="button">
                    Siguiente
                </button>
            </div>
        </div><!-- Información personal -->

        <div class="cart__content-shipping">
            <div class="content__shipping-content">
                <div class="content__shipping-products">
                    <div class="content__shipping-title">
                        <fa-icon [icon]="faCartShopping"></fa-icon>
                        <h2>Envío</h2>
                    </div><!-- Titulo -->
    
                    <div class="content__shipping-product">
                        <div class="shipping__product-card">
                            <div class="product__card-img">
                                <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                            </div><!-- Imagen - Producto -->
    
                            <div class="product__card-description">
                                <div class="product__card-left">
                                    <p class="product__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                    <p class="product__card-brand margin-1-b">Bata</p>
                                    <p class="product__card-size">40</p>
                                </div>
                                
                                <div class="product__card-right">
                                    <div class="product__card-price margin-2-b">
                                        <!-- <p class="card__price-current">S/. 25.00</p> -->
                                        <p class="card__price-normal ">S/. 50.00</p>
                                    </div>
                                </div>
                            </div><!-- Descripción - Producto -->
                        </div><!-- Producto -->
    
                        <div class="shipping__product-card">
                            <div class="product__card-img">
                                <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                            </div><!-- Imagen - Producto -->
    
                            <div class="product__card-description">
                                <div class="product__card-left">
                                    <p class="product__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                    <p class="product__card-brand margin-1-b">Bata</p>
                                    <p class="product__card-size">40</p>
                                </div>
                                
                                <div class="product__card-right">
                                    <div class="product__card-price margin-2-b">
                                        <!-- <p class="card__price-current">S/. 25.00</p> -->
                                        <p class="card__price-normal ">S/. 50.00</p>
                                    </div>
                                </div>
                            </div><!-- Descripción - Producto -->
                        </div><!-- Producto -->
    
                        <div class="shipping__product-card">
                            <div class="product__card-img">
                                <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                            </div><!-- Imagen - Producto -->
    
                            <div class="product__card-description">
                                <div class="product__card-left">
                                    <p class="product__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                    <p class="product__card-brand margin-1-b">Bata</p>
                                    <p class="product__card-size">40</p>
                                </div>
                                
                                <div class="product__card-right">
                                    <div class="product__card-price margin-2-b">
                                        <!-- <p class="card__price-current">S/. 25.00</p> -->
                                        <p class="card__price-normal ">S/. 50.00</p>
                                    </div>
                                </div>
                            </div><!-- Descripción - Producto -->
                        </div><!-- Producto -->
    
                        <div class="shipping__product-card">
                            <div class="product__card-img">
                                <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                            </div><!-- Imagen - Producto -->
    
                            <div class="product__card-description">
                                <div class="product__card-left">
                                    <p class="product__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                    <p class="product__card-brand margin-1-b">Bata</p>
                                    <p class="product__card-size">40</p>
                                </div>
                                
                                <div class="product__card-right">
                                    <div class="product__card-price margin-2-b">
                                        <!-- <p class="card__price-current">S/. 25.00</p> -->
                                        <p class="card__price-normal ">S/. 50.00</p>
                                    </div>
                                </div>
                            </div><!-- Descripción - Producto -->
                        </div><!-- Producto -->
    
                        <div class="shipping__product-card">
                            <div class="product__card-img">
                                <img src="../../../assets/img/zapatilla-3.png" alt="Imagen Zapatos">
                            </div><!-- Imagen - Producto -->
    
                            <div class="product__card-description">
                                <div class="product__card-left">
                                    <p class="product__card-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                                    <p class="product__card-brand margin-1-b">Bata</p>
                                    <p class="product__card-size">40</p>
                                </div>
                                
                                <div class="product__card-right">
                                    <div class="product__card-price margin-2-b">
                                        <!-- <p class="card__price-current">S/. 25.00</p> -->
                                        <p class="card__price-normal ">S/. 50.00</p>
                                    </div>
                                </div>
                            </div><!-- Descripción - Producto -->
                        </div><!-- Producto -->
                    </div><!-- Todos los productos -->
                </div><!-- Productos de Envío -->
    
                <div class="content__shipping-description">
                    <div class="shipping__description-information">
                        <h3>Información Personal</h3>
    
                        <div class="description__information-content">
                            <div class="description__information-name">
                                <p>Nombre:</p>
                                <p>Jean</p>
                            </div>
                            <div class="description__information-email">
                                <p>Correo:</p>
                                <p>jean@gmail.com</p>
                            </div>
                            <div class="description__information-address">
                                <p>Dirección:</p>
                                <p>Lima</p>
                            </div>
                        </div>
    
                        <button type="button" class="none">
                            Ver más
                        </button>
                    </div><!-- Información -->
    
                    <div class="shipping__description-amount">
                        <h3>Total</h3>
    
                        <p>S/ 100.00</p>
    
                        <div class="description__amount-delivery">
                            <p>Incluye delivery</p>
                        </div>
                    </div><!-- Monto -->
                </div><!-- Descripción del Pedido -->
            </div><!-- Contenido del Envío -->

            <div class="card__content-buttons">
                <button class="content__buttons-behind none" type="button">
                    Atras
                </button>

                <button class="content__buttons-next none" type="button">
                    Siguiente
                </button>
            </div>
        </div><!-- Envío -->
    </div><!-- Contenido de las secciones -->
</div><!-- Carrito -->