<div class="notFound padding-2 min-width">
    <div class="notFound__404 padding-2 flex-center">
        <p class="notFound__oops">¡Oops!</p>
        <div class="notFound__title flex-center margin-1-v">
            <h1>4</h1>
            
            <div class="notFound__content">
                <div class="notFound__zero">
                    <span style="--i: 1;"></span>
                    <span style="--i: 2;"></span>
                    <span style="--i: 3;"></span>
                    <span style="--i: 4;"></span>
                    <span style="--i: 5;"></span>
                    <span style="--i: 6;"></span>
                    <span style="--i: 7;"></span>
                    <span style="--i: 8;"></span>
                </div><!-- 0 -->
            </div><!-- Contenedor -->

            <h1>4</h1>
        </div><!-- 404 Titulo -->

        <div class="notFound__text">
            <p>ERROR</p>
            <p class="margin-1-v">Página no encontrada</p>
        </div><!-- 404 Texto -->

        <a href="#" class="notFound__button margin-2-v">
            Ir al Inicio
        </a><!-- Inicio -->

        <div class="notFound__footer">
            2022 &copy; FaluhStore
        </div><!-- Pie de pagina -->
    </div><!-- Contendor de 404 -->
</div><!-- Pagina no encontrada -->