<div class="navigation min-width">
    <div class="navigation__categories">
        <div class="navigation__women navigation__ctg">
            <a href="">
                <div>
                    <fa-icon [icon]="faPersonDress"></fa-icon>
                    <p>Mujer</p>
                </div>

                <div>
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                </div>
            </a>

            <div class="navigation__option">
                <div class="navigation__shoes">
                    <p>Calzados</p>

                    <ul>
                        <li>
                            <a href="">
                                Sandalias
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Tacos
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Zapatillas
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Zapatos
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Balerinas
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Botas
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Mocasin
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Pantuflas
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Botines
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navigation__brands">
                    <p>Marcas</p>

                    <ul>
                        <li>
                            <a href="">
                                Bata
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Platanitos
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Viale
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Calimod
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Adidas
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Nike
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Converse
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navigation__extras">
                    <p>Extras</p>

                    <ul>
                        <li>
                            <a href="">
                                Nuevos
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Ofertas
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Más vendidos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="navigation__men navigation__ctg">
            <a href="">
                <div>
                    <fa-icon [icon]="faPersonDress"></fa-icon>
                    <p>Hombre</p>
                </div>

                <div>
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                </div>
            </a>
    
            <div class="navigation__option">
                <div class="navigation__shoes">
                    <p>Calzados</p>

                    <ul>
                        <li>
                            <a href="">
                                Sandalias
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Outdoors
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Zapatillas
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Zapatos
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Mocasin
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Pantuflas
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Botines
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navigation__brands">
                    <p>Marcas</p>

                    <ul>
                        <li>
                            <a href="">
                                Bata
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Platanitos
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Viale
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Calimod
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Adidas
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Nike
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Converse
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navigation__extras">
                    <p>Extras</p>

                    <ul>
                        <li>
                            <a href="">
                                Nuevos
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Ofertas
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Más vendidos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="navigation__child navigation__ctg">
            <a href="">
                <div>
                    <fa-icon [icon]="faPersonDress"></fa-icon>
                    <p>Niños</p>
                </div>

                <div>
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                </div>
            </a>
            
            <div class="navigation__option">
                <div class="navigation__shoes">
                    <p>Calzados</p>

                    <ul>
                        <li>
                            <a href="">
                                Sandalias
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Zapatillas
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Zapatos
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Flip FLops
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Botas
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Pantuflas
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Botines
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navigation__brands">
                    <p>Marcas</p>

                    <ul>
                        <li>
                            <a href="">
                                Bata
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Platanitos
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Viale
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Calimod
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Adidas
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Nike
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Converse
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navigation__extras">
                    <p>Extras</p>

                    <ul>
                        <li>
                            <a href="">
                                Nuevos
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Ofertas
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Más vendidos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="navigation__baby navigation__ctg">
            <a href="">
                <div>
                    <fa-icon [icon]="faPersonDress"></fa-icon>
                    <p>Bebes</p>
                </div>

                <div>
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                </div>
            </a>
            
            <div class="navigation__option">
                <div class="navigation__shoes">
                    <p>Calzados</p>

                    <ul>
                        <li>
                            <a href="">
                                Sandalias
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Zapatillas
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Pantuflas
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navigation__brands">
                    <p>Marcas</p>

                    <ul>
                        <li>
                            <a href="">
                                Bata
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Platanitos
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Viale
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Calimod
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Adidas
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Nike
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Converse
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navigation__extras">
                    <p>Extras</p>

                    <ul>
                        <li>
                            <a href="">
                                Nuevos
                            </a> 
                        </li>
                        <li>
                            <a href="">
                                Ofertas
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Más vendidos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation__content">

    </div>
</div>
