<footer class="footer min-width">
    <div class="footer__top">
        <div class="footer__us">
            <h3>Nosotros</h3>

            <div class="footer__us-list">
                <a href="#">¿Quiénes Somos?</a>
                <a href="#">Objetivos</a>
                <a href="#">Historia</a>
            </div><!-- Lista -->
        </div><!-- Nosotros -->

        <div class="footer__contact">
            <h3>Contáctanos</h3>

            <div class="footer__contact-list">
                <div>
                    <span>Teléfono:</span>
                    <a href="tel:914610125" target="_blank">914 610 125</a>
                </div><!-- Teléfono -->

                <div>
                    <span>Email:</span>
                    <a href="mailto:faluh.co@gmail.com">faluh.co@gmail.com</a>
                </div>

                <div>
                    <span>Dirección:</span>
                    <a 
                    href="https://www.google.com/maps/place/Av.+Guillermo+Dansey+369,+Cercado+de+Lima+15082/@-12.0452062,-77.0483471,17z/data=!3m1!4b1!4m9!1m2!2m1!1s+Av.+Guillermo+Dansey+Nro.+369+Int.+234!3m5!1s0x9105c8cd9154950b:0x133c271ae03f1a46!8m2!3d-12.0452115!4d-77.0438571!15sCiZBdi4gR3VpbGxlcm1vIERhbnNleSBOcm8uIDM2OSBJbnQuIDIzNJIBEGdlb2NvZGVkX2FkZHJlc3M?hl=es-419" 
                    target="_blank"
                    >Av. Guillermo Dansey Nro. 369 Int. 234</a>
                </div><!-- Dirección -->

                <div>
                    <span>Horario:</span> 
                    <ul>
                        <li>Lunes a Jueves: 10:00 a 19:30</li>
                        <li>Viernes y Sábado: 10:00 a 20:00</li>
                    </ul>
                </div><!-- Horario -->
            </div><!-- Lista -->
        </div><!-- Contacto-->

        <div class="footer__redes">
            <h3>Nuestras Redes</h3>

            <div class="footer__redes-list">
                <a href="https://www.facebook.com/Faluh.co" target="_blank">
                    <div class="footer__redes-icon">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </div>
                    <p>Facebook</p>
                </a>
                <a href="https://www.instagram.com/faluh.co/" target="_blank">
                    <div class="footer__redes-icon">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </div>
                    <p>Instagram</p>
                </a>
            </div>
        </div><!-- Redes -->
    </div><!-- Footer TOP -->

    <div class="footer__bottom">
        <p>FulahStore &copy; Copyright 2022 - Todos los derechos reservados</p>
    </div><!-- Footer BOTTOM -->
</footer><!-- Pie de pagina-->
