<div class="allProduct">
    <div class="allProduct__options">
        <div class="allProduct__options-title">
            <h3>Opciones</h3>
            <fa-icon [icon]="faChevronDown"></fa-icon>
        </div><!-- Titulo Opcion -->

        <div class="allProduct__options-content">
            <div class="allProduct__options-color">
                <div class="options__color-name">
                    <p>Color</p>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div><!-- Nombre -->
    
                <div class="options__color-content">
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Azul</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Color -->
    
                    <div>
                        <input type="checkbox" id="">
                        <label for="">
                            <p>Rojo</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Color -->
    
                    <div>
                        <input type="checkbox" id="">
                        <label for="">
                            <p>Verde</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Color -->
    
                    <div>
                        <input type="checkbox" id="">
                        <label for="">
                            <p>Negro</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Color -->
    
                    <div>
                        <input type="checkbox" id="">
                        <label for="">
                            <p>Blanco</p>
                            
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Color -->
                </div><!-- Colores -->
            </div><!-- Contenido Color -->
    
            <div class="allProduct__options-gender">
                <div class="options__gender-name">
                    <p>Género</p>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div><!-- Nombre -->
    
                <div class="options__gender-content">
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Hombre</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Género -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Mujer</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Género -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Niños</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Género -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Bebés</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Género -->
                </div><!-- Generos -->
            </div><!-- Contenido Genero -->
    
            <div class="allProduct__options-brand">
                <div class="options__brand-name">
                    <p>Marcas</p>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div><!-- Nombre -->
    
                <div class="options__brand-content">
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Bata</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Marca -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Platanitos</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Marca -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Viale</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Marca -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Calimod</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Marca -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Adidas</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Marca -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Nike</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Marca -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Converse</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Marca -->
                </div><!-- Marcas -->
            </div><!-- Contenido Marca -->
    
            <div class="allProduct__options-range">
                <div class="options__range-name">
                    <p>Rango de Precio</p>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div><!-- Nombre -->
    
                <div class="options__range-content">
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Mayor a menor</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Rango -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>Menor a mayor</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Rango -->
                </div><!-- Rangos -->
            </div><!-- Contenido Rango -->
    
            <div class="allProduct__options-size">
                <div class="options__size-name">
                    <p>Talla</p>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div><!-- Nombre -->
    
                <div class="options__size-content">
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>36</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Talla -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>37</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Talla -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>38</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Talla -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>39</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Talla -->
    
                    <div>
                        <input type="checkbox" id="">
    
                        <label for="">
                            <p>40</p>
    
                            <div class="color__content-check">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                        </label>
                    </div><!-- Talla -->
                </div><!-- Tallas -->
            </div><!-- Contenido Talla -->
        </div><!-- Todas las opciones -->
    </div><!-- Contenido Opciones -->

    <div class="allProduct__cards">
        <div class="allProduct__cards-breadcrumbs">
            <app-breadcrumbs></app-breadcrumbs>
        </div>
        
        <div class="allProduct__cards-product">
            <div class="product__card transition padding-2">
                <div class="product__img cursor padding-4-h">
                    <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                </div><!-- Imagen del Producto -->

                <div class="product__description padding-1-v">
                    <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                    <p class="product__description-brand margin-1-b">Bata</p>
                    
                    <div class="product__description-price margin-2-b">
                        <p class="product__price-normal ">S/. 50.00</p>
                        <p class="product__price-current">S/. 25.00</p>
                    </div>

                    <button type="button" class="none cursor transition padding-1m-v">
                        <fa-icon [icon]="faCartShopping"></fa-icon>
                        Añadir al carrito
                    </button>
                </div><!-- Información del Producto -->
            </div><!-- Tarjeta Producto -->

            <div class="product__card transition padding-2">
                <div class="product__img cursor padding-4-h">
                    <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                </div><!-- Imagen del Producto -->

                <div class="product__description padding-1-v">
                    <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                    <p class="product__description-brand margin-1-b">Bata</p>
                    
                    <div class="product__description-price margin-2-b">
                        <p class="product__price-normal ">S/. 50.00</p>
                        <p class="product__price-current">S/. 25.00</p>
                    </div>

                    <button type="button" class="none cursor transition padding-1m-v">
                        <fa-icon [icon]="faCartShopping"></fa-icon>
                        Añadir al carrito
                    </button>
                </div><!-- Información del Producto -->
            </div><!-- Tarjeta Producto -->

            <div class="product__card transition padding-2">
                <div class="product__img cursor padding-4-h">
                    <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                </div><!-- Imagen del Producto -->

                <div class="product__description padding-1-v">
                    <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                    <p class="product__description-brand margin-1-b">Bata</p>
                    
                    <div class="product__description-price margin-2-b">
                        <p class="product__price-normal ">S/. 50.00</p>
                        <p class="product__price-current">S/. 25.00</p>
                    </div>

                    <button type="button" class="none cursor transition padding-1m-v">
                        <fa-icon [icon]="faCartShopping"></fa-icon>
                        Añadir al carrito
                    </button>
                </div><!-- Información del Producto -->
            </div><!-- Tarjeta Producto -->

            <div class="product__card transition padding-2">
                <div class="product__img cursor padding-4-h">
                    <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                </div><!-- Imagen del Producto -->

                <div class="product__description padding-1-v">
                    <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                    <p class="product__description-brand margin-1-b">Bata</p>
                    
                    <div class="product__description-price margin-2-b">
                        <p class="product__price-normal ">S/. 50.00</p>
                        <p class="product__price-current">S/. 25.00</p>
                    </div>

                    <button type="button" class="none cursor transition padding-1m-v">
                        <fa-icon [icon]="faCartShopping"></fa-icon>
                        Añadir al carrito
                    </button>
                </div><!-- Información del Producto -->
            </div><!-- Tarjeta Producto -->

            <div class="product__card transition padding-2">
                <div class="product__img cursor padding-4-h">
                    <img src="../../../assets/img/zapato.png" alt="Imagen Zapatos">
                </div><!-- Imagen del Producto -->

                <div class="product__description padding-1-v">
                    <p class="product__description-name margin-1-b">Zapatos Casuales Hombre Azul</p>
                    <p class="product__description-brand margin-1-b">Bata</p>
                    
                    <div class="product__description-price margin-2-b">
                        <p class="product__price-normal ">S/. 50.00</p>
                        <p class="product__price-current">S/. 25.00</p>
                    </div>

                    <button type="button" class="none cursor transition padding-1m-v">
                        <fa-icon [icon]="faCartShopping"></fa-icon>
                        Añadir al carrito
                    </button>
                </div><!-- Información del Producto -->
            </div><!-- Tarjeta Producto -->
        </div><!-- Contenedor - Todos los productos -->

        <div class="allProduct__cards-more">
            <a>Ver más</a>
        </div><!-- Mas productos -->
    </div><!-- Contenido - Productos-->
</div><!-- Todos los productos -->